/* 이건 NavBar CSS임*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: pink;
}

.nav {
  width: 100%;
  background-color: gainsboro; /*white*/
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  padding: 0 8.4rem;
}

.site-title {
  font-size: 2rem;
  font-family: "Shrikhand", cursive;
}

.nav a {
  display: flex;
  color: red;
  height: 100%;
}

.nav div:hover {
  background-color: peru;
}
